{% extends "base.html" %}
{% block content %}

    <div class = imessage-wrapped>

    <div class = "header">

    <h1> &#128241 IMessage Wrapped 2020 </h1>

    </div>

    <div class="flex-row ">
        <span class="typewriter fitted"> This year you sent &#128394;
          <span class = "increment-num" style="--end-num: {{wrapped.total_texts_sent}}"></span>
          text messages.
        </span>
     </div>

     <div class="flex-row ">
         <span class="typewriter fitted"> And recieved &#128236
           <span class = "increment-num" style="--end-num: {{wrapped.total_texts_recieved}};color:blue">
           </span>
           text messages.
         </span>
     </div>

     <div class="flex-row ">
       <div class="typewriter fitted">
       In total, you exchanged over {{ wrapped.total_pages }} pages of text.
       </div>
     </div>

     <div class="flex-row ">

       <div class = "top-contacts">
         <div class = 'section-header spaced'>
            <h1>WHO</h1>
            <span class="legend" style="align-self:center"> Each ╲╱ repersents 5 messages </span>
          </div>

       <ol>
       {% for key, value in  wrapped.top_contacts.items() %}
       <li class="contact">
         <div class="contact-name flex-row" style="justify-content:space-between;">
         <span> {{value['name']}}: </span>
         <span style="font-size:12px;align-self: flex-end;"> &#128316 Sent: {{value['from_me']}} &#128317 Recieved: {{value['to_me']}} </span>
         </div>
         <div class='message-counter'>
           <span class='message-counter' style="color:green">
           {% set  sent=(value['from_me']/5)|int %}
           {% for num in range(sent) %}
           ╲╱
           {% endfor %}
           </span>
           <span class='message-counter' style="color:blue">
           {% set  recieved=(value['to_me']/5)|int %}
           {% for num in range(recieved) %}
           ╲╱
           {% endfor %}
           </span>
         </div>
         <div>
       </li>
       {% endfor %}
       </ol>
       </div>
     </div>


     <div class="flex-row ">
          <div class="flex-column">
            <div class = "section-header">
            <h1>WHEN</h1>
            </div>
            <div class = "flex-row">
            <span class="vertical-label">DAY</span>
            <div class="chart-container left">

              <div class="accordion flex-row-reverse" id="accordionNight" role="tablist" aria-multiselectable="true" style="width:100%">
                <div class="info-box right" style="margin-top:50px">
                  <div class="info-box-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionNight" href="#night" aria-expanded="true"
                      aria-controls="collapseOne1">
                      <span class="mb-0">
                        <h5 class="aligned"><span> &#127814 &#128521 U up? <i class="fas fa-angle-down rotate-icon"></i></span><span style="float:right"> + </span></h5>
                    </a>
                  </div>
                  <div id="night" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                    data-parent="#accordionEx">
                      Your late night buddy was <b>{{wrapped.u_up['name']}}</b>. You sent them {{wrapped.u_up['total_sent']}}
                      messages between 12 and 3 AM
                  </div>
                </div>
              </div>

              <div class="accordion flex-row-reverse" id="accordionMorning" role="tablist" aria-multiselectable="true" style="width:100%">
                <div class="info-box left" style="margin-top:50px;bottom:0">
                  <div class="info-box-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionMorning" href="#morning" aria-expanded="true"
                      aria-controls="collapseOne1">
                      <h5 class="mb-0">
                          <h5 class="aligned"><span> &#127774 Good morning sunshine &#127774 <i class="fas fa-angle-down rotate-icon"></i></span><span style="float:right"> + </span></h5>
                      </h5>
                    </a>
                  </div>
                  <div id="morning" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                    data-parent="#accordionEx">
                      Your sent your first morning text at <b>{{wrapped.wake_up_avg}}</b> AM. on average
                  </div>
                </div>
              </div>


              <div class="accordion flex-row" id="accordionEvening" role="tablist" aria-multiselectable="true" style="width:100%">
                <div class="info-box right" style="margin-top:50px">
                  <div class="info-box-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEvening" href="#evening" aria-expanded="true"
                      aria-controls="collapseOne1">
                      <h5 class="mb-0">
                        <h5 class="aligned"><span> Night hours <i class="fas fa-angle-down rotate-icon"></i></span><span style="float:right"> + </span></h5>
                      </h5>
                    </a>
                  </div>
                  <div id="evening" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                    data-parent="#accordionEx">
                      TODO: Add in some fact about the night hours here
                  </div>
                </div>
              </div>


              <div class="accordion flex-row" id="accordionAfternoon" role="tablist" aria-multiselectable="true" style="width:100%">
                <div class="info-box right" style="margin-top:50px;bottom:0">
                  <div class="info-box-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionAfternoon" href="#afternoon" aria-expanded="true"
                      aria-controls="collapseOne1">
                      <h5 class="mb-0">
                        <h5 class="aligned"> Afternoon!</h5> <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
                  <div id="afternoon" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                    data-parent="#accordionEx">
                      TODO: Add in some fact about the afternoon here
                  </div>
                </div>
              </div>


              <canvas id="hour-chart"></canvas>
            </div>
            </div>

            <div class = "flex-row">
              <span class="vertical-label">WEEK</span>
            <div class="chart-container right">
              <canvas id="weekday-chart"></canvas>
            </div>
            </div>

            <div class="flex-row">
              <span class="vertical-label">YEAR</span>
            <div class="chart-container right">
              <div class="accordion flex-row" id="accordionEx" role="tablist" aria-multiselectable="true" style="width:100%">
                <div class="info-box left" style="margin-top:50px;margin-left:40px">
                  <div class="info-box-header" role="tab" id="topDays">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="true"
                      aria-controls="collapseOne1">
                      <h5 class="mb-0">
                        <h5> Top Days </h5> <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
                  <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="topDays"
                    data-parent="#accordionEx">
                      Your most texted days were (in order)
                      {% for day in wrapped.top_days %}
                        <b> {{day}} </b>,
                      {% endfor %}
                  </div>
                </div>
              </div>
              <canvas id="day-chart"></canvas>
            </div>
            </div>




          </div>
      </div>



      <div class = "">
      <div class = "section-header">
      <h1>WHERE</h1>
      </div>
      <h5>The people you texted in 2020, mapped </h5>
      <div id="mapid"></div>
      </div>


      <div class = "">
      <div class="section-header">
      <h1>WHAT</h1>
      </div>

      <h5>Your top emojis of 2020 </h5>
      <div class="flex-row spaced">
        {% for emoji in wrapped.emojis %}
        <div class="emoji spaced">
          {{emoji[0]}} {{emoji[1]}}
        </div>
        {% endfor %}

      </div>
      </div>

      <div class = "">
      <div class="section-header">
      <h1>HOW</h1>
      </div>

      <h5>Text Frequency </h5>
      <div class="flex-row spaced">

      </div>
      </div>


     </div>


  </div>
  <!-- Accordion card -->

{% endblock %}
